<article data-role="page" id="page-main-function" data-theme="a">
    <section id="main-section" ondragover="return false">
        <div id="tool-bar">
        </div>
        <div id="search-status">
        </div>
        <div id="operation">
        </div>
        <div id="breadcrumb">
        </div>
        <div id="content-list" class="hide">
        </div>
        <div id="footerspace">
        </div>
        <div id="uninitsetup">
        </div>
        <div id="unconnected">
        </div>
    </section>
</article>
