<div id="search-bar">
    <div class="search-bar-keyword-div">
        <span class="search-bar-item" data-i18n="content.navi.label.searchTarget"></span>
        <!-- <label class="search-bar-item" data-i18n="content.navi.label.searchTarget" /> -->
        <span id="search-bar-keyword"></span>
        <img id="search-bar-img"></img>
        <span id="ruler" style="visibility:hidden"></span>
    </div>
    <div class="search-bar-img-box" id="search-bar-waitting-icon">
        <object data="../res/image/svg/Asset_Altair_Dialog_Processing.svg" type="image/svg+xml" id="search-bar-wait" class="search-bar-wait-img" data-role="none"></object>
    </div>
    <div class="search-bar-close-div">
        <button data-role="none" id="search-bar-close" data-inline="true" class="button" data-i18n="content.navi.label.closeSearchResult" tabindex="201">
    </div>
</div>
