<div id="folder-pick-delete-bar">
    <button id="new-folder-button" tabindex="301">
        <img id="new-folder-button-icon" src="../res/image/svg/Asset_Altair_Main_List_Tool_CreateFolder_Rest.svg" onmouseover="this.src='../res/image/svg/Asset_Altair_Main_List_Tool_CreateFolder_Hover.svg'" onmouseout="this.src='../res/image/svg/Asset_Altair_Main_List_Tool_CreateFolder_Rest.svg'" onmousedown="this.src='../res/image/svg/Asset_Altair_Main_List_Tool_CreateFolder_Pressed.svg'" />
        <span class="tooltiptext" data-i18n='tooltip.toolbar.createFolder' style="width:120px; "></span>
    </button>
    <button id="pick-button" tabindex="302">
        <img id="pick-button-icon" src="../res/image/svg/Asset_Altair_Main_List_Tool_Export_Rest.svg" onmouseover="this.src='../res/image/svg/Asset_Altair_Main_List_Tool_Export_Hover.svg'" onmouseout="this.src='../res/image/svg/Asset_Altair_Main_List_Tool_Export_Rest.svg'" onmousedown="this.src='../res/image/svg/Asset_Altair_Main_List_Tool_Export_Pressed.svg'" data-tool />
        <span class="tooltiptext" data-i18n='tooltip.toolbar.import' style="width:170px; "></span>
    </button>
    <button id="delete-button" style="margin-left: 4px" tabindex="303">
        <img id="delete-button-icon" src="../res/image/svg/Asset_Altair_Main_List_Tool_Delete_Rest.svg" onmouseover="this.src = '../res/image/svg/Asset_Altair_Main_List_Tool_Delete_Hover.svg'" onmouseout="this.src = '../res/image/svg/Asset_Altair_Main_List_Tool_Delete_Rest.svg'" onmousedown="this.src = '../res/image/svg/Asset_Altair_Main_List_Tool_Delete_Pressed.svg'" />
        <span class="tooltiptext" data-i18n='tooltip.toolbar.delete' style="width:30px;"></span>
    </button>
    <button id="sync-button" style="margin-left: 8px;" tabindex="304">
        <img id="sync-button-icon" src="../res/image/svg/Asset_Altair_Main_List_Tool_Sync_Rest.svg" onmouseover="this.src = '../res/image/svg/Asset_Altair_Main_List_Tool_Sync_Hover.svg'" onmouseout="this.src = '../res/image/svg/Asset_Altair_Main_List_Tool_Sync_Rest.svg'" onmousedown="this.src = '../res/image/svg/Asset_Altair_Main_List_Tool_Sync_Pressed.svg'" />
        <span class="tooltiptext" data-i18n='tooltip.toolbar.syncadd' style="width:156px;"></span>
    </button>
</div>
