<!-- unconnectedview -->
<div id="unconnected-screen" class="customScrollbar">
    <div id="unconnected-message-area">
        <div id="noDeviceMsgArea">
            <div id="noDeviceMsgP1" data-i18n="content.init.parts.noDeviceMsg.p1" class="big-label"></div>
            <div id="noDeviceMsgP2" data-i18n="content.init.parts.noDeviceMsg.p2"></div>
        </div>
        <div id="checklistArea">
            <div id="noDeviceMsgP3" data-i18n="content.init.parts.noDeviceMsg.p3"></div>
            <div class="indent16">
                <label data-i18n="content.init.parts.noDeviceMsg.i1" class="concatenate num"></label>
                <label id="powerCheck" data-i18n="content.init.parts.noDeviceMsg.p4" class="concatenate"></label>
            </div>
            <div class="indent16" data-role="none">
                <label data-i18n="content.init.parts.noDeviceMsg.i2" class="concatenate num"></label>
                <img class="connIcon" id="usbIcon" src="../res/image/svg/Asset_Altair_NoConnection_USB.svg" data-role="none" />
                <label data-i18n="[html]content.init.parts.noDeviceMsg.p5" class="concatenate"></label>
            </div>
            <div id="btConn" class="indent34" data-role="none">
                <img class="connIcon" id="btIcon" src="../res/image/svg/Asset_Altair_NoConnection_BT.svg" data-role="none" />
                <label data-i18n="[html]content.init.parts.noDeviceMsg.p6" class="concatenate"></label>
            </div>
            <div class="indent34" id="wifiConn">
                <img class="connIcon" id="wifiIcon" src="../res/image/svg/Asset_Altair_NoConnection_Wifi.svg" data-role="none" />
                <label data-i18n="[html]content.init.parts.noDeviceMsg.p8" class="concatenate"></label>
            </div>
        </div>
        <div id="onlineManualArea">
            <div id="noDeviceMsgP3" data-i18n="content.init.parts.noDeviceMsg.p9"></div>
            <input type="button" id="online-manual-btn" data-i18n="[value]content.init.parts.noDeviceMsg.p10" data-role="none"></a>
        </div>
    </div>
</div>
