<div id="software-update-eula">
    <div id='notice-area'>
        <p class='eula-title' data-i18n="update.eula.title"></p>
        <p class='eula-description' data-i18n="update.eula.description"></p>
    </div>
    <div id='eula-area'>
        <div id='eula'></div>
    </div>
    <div id='agree-area'>
        <input type="radio" name="agree-switch" id="agree-yes" value="on" data-role="none" />
        <label id="agree-yes-lbl" for="agree-yes" class="rest" data-i18n="update.eula.radio.accept" data-role="none" id="agree-yes-label" tabindex="1"></label>
        <input type="radio" name="agree-switch" id="agree-no" value="off" data-role="none" checked="checked" />
        <label id="agree-no-lbl" for="agree-no" class="rest" data-i18n="update.eula.radio.deny" data-role="none" id="agree-no-label" tabindex="2"></label>
    </div>
    <div id="footer-area">
        <input type="button" id="cancel-button" value="" data-i18n="[value]update.eula.cancel" data-role="none" tabindex="99"/>
        <input type="button" id="download-button" value="" data-i18n="[value]update.eula.next" disabled data-role="none" tabindex="98"/>
    </div>
</div>
